<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2DDD0041CB5F6DD00C8FEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2DDD0181CB5F6DE00C8FEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2DDD0231CB5F6DE00C8FEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
